.xs-visible {
  display: none;
}

@media (max-width: 1199px) {
  .container {
    max-width: 992px;
  }
}

@media (max-width: 991px) {

  .container {
    max-width: 768px;
  }

  .hidden-block.open {
    height: 200px;
  }

  .content {
    text-align: center;
    .main-title {
      float: none;
      display: inline-block;
      margin-bottom: 2rem;
    }
    .sort-buttons {
      float: none;
      display: inline-block;
    }
    .result {
      & > a {
        margin: 10px;
      }
    }
  }

  .clients {
    margin-top: 10rem;
  }

  .services {
    margin-top: 10rem;
    ul {
      width: 49%;
      text-align: center;
      margin: 0;
      margin-bottom: 1.5rem;
      .li {
        padding-left: 25px;
        text-align: left;
      }
    }
  }

}

@media (max-width: 767px) {

  .container {
    max-width: 100%;
  }

  .hidden-block {
    &.open {
      height: 320px;
    }
    ul {
      float: none;
    }

    .hire-me {
      float: none;
      text-align: left;
      max-width: 100%;
      display: block;
      clear: both;
      margin-top: 1rem;
    }
  }
  .twit {
    display: none;
  }
  ul a {
    padding: 6px 0;
  }

  .content {
    padding-top: 4rem;
    .main-title {
      h1 {
        font-size: 1.5rem;
      }
      margin-bottom: 1rem;
    }
    .result {
      margin-top: 1rem;
      & > a {
        margin: 5px;
        width: calc(100% - 10px);
        float: left;
      }
    }
  }

  .clients {
    margin-top: 4rem;
    p {
      max-width: 100%;
    }
    a {
      width: 30%;
    }
  }

  .services {
    margin-top: 4rem;
    p {
      max-width: 100%;
    }
    ul {
      width: 100%;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .comments {
    .container {
      background: #eceff2;
      padding: 50px 0 50px;
    }
  }

  .slide {
    p {
      width: 95%;
      font-size: 16px;
    }
  }

  footer {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    .copyrights {
      float: none;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    .social-link {
      float: none;
      display: block;
      text-align: center;
    }
  }

  .xs-visible {
    display: block;
  }

}