$primary-color: #000;
$readable-color: #fff;
$background-color: #fff;

body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  color: $primary-color;
  line-height: 1.5;
  font-size: 1rem;
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: $readable-color;
}

.clr {
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
  a {
    padding: 6px 12px;
    text-decoration: none;
  }
}

.container {
  width: calc(100% - 30px);
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.hidden-block {
  height: 0;
  background: #0d1e2d;
  color: #fff;
  text-align: center;
  transition: .5s all ease;
  overflow: hidden;
  &.open {
    padding-top: 50px;
    padding-bottom: 50px;
    transition: .5s all ease;
    height: 150px;
  }
}

.menu {
  float: left;
  li {
    display: block;
    text-align: left;
    a {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.menu-color {
  li {
    a {
      color: $readable-color;
    }
  }
}

.twit {
  display: inline-block;
  max-width: 40%;
  text-align: left;
  p {
    color: $readable-color;
    a {
      color: $readable-color;
    }
  }
}

.hire-me {
  float: right;
  text-align: left;
  max-width: 30%;
  h3 {
    color: $readable-color;
    font-size: 20px;
  }
  p {
    color: $readable-color;
    a {
      color: $readable-color;
    }
  }
}

.portfolio-block {
  width: 100%;
  padding-top: 50px;
  h2 {
    font-size: 1.7rem;
    color: $primary-color;
    float: left;
    font-weight: 400;
  }
}

.burger {
  width: 28px;
  height: 32px;
  cursor: pointer;
  position: relative;
  float: right;
  transition: .5s all ease;
  &.active:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
    transition: .5s all ease;
  }
  &.active:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
    transition: .5s all ease;
  }
  &.active:before, &.active:after {
    top: 40%;
  }
  &.active span {
    opacity: 0;
  }
  &:before, &:after, span {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background: $primary-color;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
  }
  &:before {
    top: 4px;
    transition: .5s all ease;
  }
  span {
    top: 15px;
  }
  &:after {
    top: 26px;
    transition: .5s all ease;
  }
}

.left-position {
  float: left;
  float: left;
}

.right-position {
  float: right;
}

.content {
  padding-top: 7rem;

  .result {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 3rem;
    & > a {
      display: block;
      margin: 12px;
      width: calc(33.3% - 24px);
      position: relative;
      float: left;
      height: 370px;
      overflow: hidden;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: .5s all ease;
      &.dandelion {
        background-image: url("../img/dandelion.jpg");
      }
      &.dandelion-with-yellow-flowers {
        background-image: url("../img/dandelion-with-yellow-flowers.jpg");
      }
      &.flowers-in-green-grass {
        background-image: url("../img/flowers-in-green-grass.jpg");
      }
      &.mushrooms {
        background-image: url("../img/mushrooms.jpg");
      }
      &.sun-flower-in-black {
        background-image: url("../img/sun-flower-in-black.jpg");
      }
      &.sun-flower {
        background-image: url("../img/sun-flower.jpg");
      }
      .text-link {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        transition: .5s all ease;
        top: 0;
        left: 0;
        z-index: 10;
        .link-title {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: $readable-color;
          font-size: 20px;
          margin-bottom: 0;
          text-align: center;
          span {
            display: block;
            text-align: center;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: .2rem;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        background-size: cover;
        transform-origin: center;
        transition: transform .4s ease-in-out;
      }

      &:focus,
      &:hover {
        &::after {
          transform: scale(1.05);
        }
      }

      &:hover {
        overflow: hidden;
        transition: .5s all ease;
      }
      &:hover .text-link {
        opacity: 1;
        transition: .5s all ease;
      }
      img {
        display: block;
        max-width: 100%;
        transform: translate(0, 0);
        transition: .5s all ease;
      }
    }
  }
}

.main-title {
  h1 {
    font-size: 2rem;
  }
}

.sort-buttons {
  text-align: right;
  margin-top: 1.5rem;
  li {
    display: inline-block;
    padding: 0 12px;
    a {
      color: $primary-color;
      padding: 0 0 5px 0;
      &.active {
        border-bottom: 2px solid $primary-color;
      }
    }
  }
}

.clients {
  text-align: center;
  margin-top: 14rem;
  h2 {
    font-size: 28px;
  }
  p {
    max-width: 40%;
    display: block;
    margin: 0 auto 2.5rem auto;
  }
  a {
    display: inline-block;
    width: 15%;
    margin: 0 30px;
    img {
      max-width: 100%;
    }
  }
}

.services {
  text-align: center;
  margin-top: 14rem;
  h2 {
    font-size: 28px;
  }
  p {
    max-width: 40%;
    display: block;
    margin: 0 auto 2.5rem auto;
  }
  ul {
    display: inline-block;
    width: 22%;
    text-align: left;
    font-size: 16px;
    color: $primary-color;
    margin: 0 20px;
    li {
      display: block;
    }
    .ic {
      margin-bottom: 30px;
    }
    .title {
      font-size: 16px;
      margin-bottom: 10px;
      color: $primary-color;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
    }
    .text {
      margin-bottom: 10px;
    }
    .li {
      margin-bottom: 10px;
      position: relative;
      padding-left: 30px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: .7rem;
        width: 10px;
        height: 2px;
        background: $primary-color;
      }
    }
  }
}

.comments {
  margin-top: 7rem;
  .container {
    background: #eceff2;
    padding: 50px 0 80px;
  }
  .comment-avatar {
    display: block;
    margin: 0 auto 30px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.slider {
  overflow: hidden;
  position: relative;
  height: 300px;
  .inner-slider {

  }
}

.slide {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eceff2;
  transition: .5s all ease;
  transform: translate(0, 0);
  color: $primary-color;
  &.active {
    z-index: 1
  }
  &:first-child {
    z-index: 1;
  }
  p {
    display: block;
    width: 40%;
    text-align: center;
    margin: 0 auto 1rem;
    font-size: 20px;
  }
}

footer {
  margin-top: 7rem;
  padding-bottom: 4rem;
  .copyrights {
    float: left;
  }
  .social-link {
    float: right;
    text-align: right;
    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #f8f9fa;
      position: relative;
      text-align: center;
      color: #0d1e2d;
      margin-left: 5px;
      text-decoration: none;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@import 'media';